--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
celery
redis
loguru
prometheus-client
sentry-sdk
alembic
black
sqlalchemy
psycopg2-binary
fastapi-limiter
prometheus-fastapi-instrumentator
beautifulsoup4
playwright
trafilatura
google-genai
pydantic
torch
faiss-cpu
sentence-transformers
python-dotenv
python-multipart
pytz
PyPDF2
pdfplumber
python-docx
PyMuPDF
numpy